{{ define "main" }}
  {{ partial "hero.html" . }}

  {{ $work := where site.RegularPages "Section" "work" }}
  {{ $featuredWork := first site.Params.home.workCount (where $work "Params.featured" true) }}
  {{ partial "section-cards.html" (dict "title" site.Params.home.workTitle "intro" site.Params.home.workIntro "pages" $featuredWork "sectionUrl" "/work/" "sectionLabel" "Alle Projekte" ) }}

  {{ $writing := where site.RegularPages "Section" "writing" }}
  {{ $featuredWriting := first site.Params.home.writingCount (where $writing "Params.featured" true) }}
  {{ partial "section-cards.html" (dict "title" site.Params.home.writingTitle "intro" site.Params.home.writingIntro "pages" $featuredWriting "sectionUrl" "/writing/" "sectionLabel" "Alle Texte" ) }}
{{ end }}
